@media only screen and (min-width: 600px){
html, body{
    margin: 0;
    padding: 0;
}

.mode-button {
    position: fixed;
    top: 20px;
    left: 20px;
}

.header{
    max-width: 500px;
    margin: 50px auto;    
    justify-content: center;
    text-align: center;
}


.sidebar-1{
    order: 1;
    margin-right: 20px;

}
.light{
    color: rgb(29, 29, 29);
    background-color: #fff;
}

.dark{
    color: #fff;
    background-color: rgb(29, 29, 29);
}

.main-content {
    order: 2;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar-2 {
    order: 3;
}
.content, .flash-cards, .table{
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
}

.flash-cards {
    justify-content: space-between;
    background-color: transparent;
}

.card{    
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin: 20px;
    /* box shadow  */
    -webkit-box-shadow: 7px 7px 5px 3px rgba(233, 240, 247, 1);
    -moz-box-shadow: 7px 7px 5px 3px rgba(233, 240, 247, 1);
    box-shadow: 7px 7px 5px 3px rgba(233, 240, 247, 1);
    border-radius: 10px;
}

.card.dark {
    /* box shadow  */
    -webkit-box-shadow: 7px 7px 5px 3px rgb(73, 73, 73);
    -moz-box-shadow: 7px 7px 5px 3px rgb(73, 73, 73);
    box-shadow: 7px 7px 5px 3px rgb(73, 73, 73);
    border-radius: 10px;
}
.card-1{
    background-color: lightpink;
}

.card-2{
    background-color: limegreen;
}

.card-3{
    background-color: aqua;
}

.table{
    max-width: 850px;
    margin-bottom: 50px;
    background-color: transparent;
    
}

.main-page{
    padding: 15px;
    width: 50%;
    text-align: center;
}

.secondary-page{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.section-1{
    background-color: rgb(135, 166, 250);
    
}

.section-2{
    background-color: rgb(105, 129, 197);

}

.section-3{
    background-color: rgb(74, 91, 139);

}
}

/* Mobile screens */
@media only screen and (max-width: 600px) {


    html, body{
        margin: 0;
        padding: 0;
        background-color: antiquewhite;
    }

    .mode-button {
        position: fixed;
        top: 20px;
        left: 20px;
    }
    
    .header{
        max-width: 500px;
        margin: 50px auto;
        background-color: white;
        justify-content: center;
        text-align: center;
    }
    
    .sidebar-1 {
        order: 1;
        margin: 10px;
    }
    
    .main-content {
        order: 2;
    }
    
    .sidebar-2 {
        order: 3;
    }
    .content, .flash-cards, .table{
        max-width: 1200px;
        background-color: white;
        padding: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .flash-cards {
        justify-content: space-between;
    }
    
    .card{
        padding: 25px;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin: 20px;
    }
    
    .card-1{
        background-color: lightpink;
    }
    
    .card-2{
        background-color: limegreen;
    }
    
    .card-3{
        background-color: aqua;
    }
    
    .table{
        max-width: 850px;
        background-color: antiquewhite;
        margin-bottom: 50px;
        text-align: center;
        
    }
    
    .main-page{
        background-color: rgb(113, 243, 182);
        padding: 15px;
        text-align: center;
    }
    
    .secondary-page{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-emphasis: center;
    }
    
    .section-1{
        background-color: rgb(135, 166, 250);
        
    }
    
    .section-2{
        background-color: rgb(105, 129, 197);
    
    }
    
    .section-3{
        background-color: rgb(74, 91, 139);
    
    }
}

